<!doctype html>
<html ng-app="adv_search">

    <head>

        <title>HobbyJoin</title>
        
        <script src="scripts/angular.min.js"></script>
        <script src="scripts/angular-touch.min.js"></script>
        <script src="scripts/ui-bootstrap.min.js"></script>
        
        <link href="styles/base.css" rel="stylesheet" type="text/css" />
        <link href="styles/font.css" rel="stylesheet" type="text/css" />
        
        <meta name="viewport" content="initial-scale=1.0, width=device-width" />
        <meta charset="utf-8">
        
        <script src="info/adv_search.js"></script>
        <script src="scripts/angular-animate.min.js"></script>

        <link href="styles/adv_search.css" rel="stylesheet" type="text/css" />
        <link href="styles/search.css" rel="stylesheet" type="text/css" />
        
    </head>

    <body>
        
        <div id="header" class="light_blue" ng-controller="HomeCtrl">
            <img src="imgs/logo.png" id="logo" ng-click="goHome()">
            <img src="imgs/menu.png" id="menu">
        </div>
        <div class="line dark_blue"></div>
                    
        <form action="search.html" method="get">

        <div id="search">
            <input type="text" placeholder="Buscar carta" autocomplete="off" name="search" class="text text2" />
        </div>

        <div id="mana" ng-controller="ManaCtrl">
            <span ng-repeat="mana in manas">
                <img src="imgs/symbols/{{mana.link}}.png" class="mana" ng-class="{selected:mana.checked}" ng-click="mana.checked = !mana.checked" />
                <input type="checkbox" name="{{mana.link}}" class="fake" id="{{mana.link}}" ng-checked="mana.checked" />
            </span>
        </div>
        
        <div id="accordion" ng-controller="AccordionCtrl">
            
            <div id="colors" class="text text2 header line2" ng-class="{header_open:color}" ng-click="color = !color" >Cores</div>
            <div id="colors-collapse" class="accordion" ng-show="color">
                <ul>
                    <li ng-repeat="color in colors" class="menu text text{{color.size}} line2" ng-class="{'last':$last, 'checked':color.checked}" ng-click="check(color)" >{{color.text}}<input type="checkbox" name="{{color.name}}" class="fake" id="{{color.name}}" ng-checked="color.checked" /></li>
                </ul>
            </div>
            
            <div id="types" class="text text2 header line2" ng-class="{header_open:type}" ng-click="type = !type" >Tipos</div>
            <div id="types-collapse" class="accordion" ng-show="type">
                <ul>
                    <li ng-repeat="type in types" class="menu text text{{type.size}} line2" ng-class="{'last':$last, 'checked':type.checked}" ng-click="check(type)" >{{type.text}}<input type="checkbox" name="{{type.name}}" class="fake" id="{{type.name}}" ng-checked="type.checked" /></li>
                </ul>
            </div>
            
            <div id="rarities" class="text text2 header line2" ng-class="{header_open:rarity}" ng-click="rarity = !rarity" >Raridade</div>
            <div id="types-collapse" class="accordion" ng-show="rarity">
                <ul>
                    <li ng-repeat="rarity in rarities" class="menu text text{{rarity.size}} line2" ng-class="{'last':$last, 'checked':rarity.checked}" ng-click="check(rarity)" >{{rarity.text}}<input type="checkbox" name="{{rarity.name}}" class="fake" id="{{rarity.name}}" ng-checked="rarity.checked" /></li>
                </ul>
            </div>
            
            <select class="text text2 line2" name="set" >
                <option value="0" selected>Edição</option>
                <option ng-repeat="set in sets" value="{{set.id}}">{{set.set}}</option>
            </select>
            
            <div id="prices" class="text text2 header line2" ng-class="{header_open:price}" ng-click="price = !price" >Preços</div>
            <div id="prices-collapse" class="accordion" ng-show="price">
                <ul>
                    <li class="menu_nocheck text text3 line2" >
                        <table class="menu_table">
                            <tr>
                                <td>Preço mínimo:</td>
                                <td>R$ <input type="number" name="price1" class="text3" placeholder="0"></td>
                            </tr>
                            <tr>
                                <td>Preço máximo:</td>
                                <td>R$ <input type="number" name="price2" class="text3" placeholder="100"></td>
                            </tr>
                        </table>
                    </li>
                </ul>
            </div>

            <div id="powers" class="text text2 header line2" ng-class="{header_open:power}" ng-click="power = !power" >Específicos</div>
            <div id="prices-collapse" class="accordion" ng-show="power">
                <ul>
                    <li class="menu_mid text text3 line2" >
                        Poder entre: <br />
                        <input type="number" name="power1" class="text3" placeholder="min"> e
                        <input type="number" name="power2" class="text3" placeholder="máx">
                    </li>
                    <li class="menu_mid text text3 line2" >
                        Resistência entre: <br />
                        <input type="number" name="res1" class="text3" placeholder="min"> e
                        <input type="number" name="res2" class="text3" placeholder="máx">
                    </li>
                    <li class="menu_nocheck text text3 line2" >
                        Lealdade entre: <br />
                        <input type="number" name="loyal1" class="text3" placeholder="min"> e
                        <input type="number" name="loyal2" class="text3" placeholder="máx">
                    </li>
                </ul>
            </div>
            
            <input type="submit" class="text text2 submit line2" value="BUSCAR">
        </div>
            
        </form>

    </body>

</html>