<!doctype html>
<html ng-app="card">

    <head>

        <title>HobbyJoin</title>
        
        <script src="scripts/angular.min.js"></script>
        <script src="scripts/angular-touch.min.js"></script>
        <script src="scripts/ui-bootstrap.min.js"></script>
        
        <link href="styles/base.css" rel="stylesheet" type="text/css" />
        <link href="styles/font.css" rel="stylesheet" type="text/css" />
        
        <meta name="viewport" content="initial-scale=1.0, width=device-width" />
        <meta charset="utf-8">
        
        <script src="info/card.js"></script>

        <link href="styles/card.css" rel="stylesheet" type="text/css" />

    </head>

    <body>
        
        <div id="header" class="light_blue" ng-controller="HomeCtrl">
            <img src="imgs/logo.png" id="logo" ng-click="goHome()">
            <img src="imgs/menu.png" id="menu">
        </div>
        <div class="line dark_blue"></div>
        
        <div ng-controller="CardCtrl">
        <div class="text text3 name" ng-if="card[0].name_br != null" >
            {{card[0].name_br}}<br />
            ({{card[0].name_us}})
        </div>
        <div class="text text3 name" ng-if="card[0].name_br == null">
            {{card[0].name_us}}
        </div>

        <div>
            <div id="img" ng-class="{'big':big}">
                <img ng-src="{{img_br}}" ng-if="lang == 'br'" ng-class="{'big':big}" ng-click="bebig()" />
                <img ng-src="{{img_us}}" ng-if="lang == 'us'" ng-class="{'big':big}" ng-click="bebig()" />
            </div>
                        
            <select disabled id="set" class="text text4" ng-if="card[0].sets.length == 1">
                <option ng-repeat="set in card[0].sets">{{set.set}}</option>
            </select>
            
            <select id="set" class="text text4 enabled" ng-if="card[0].sets.length > 1">
                <option ng-repeat="set in card[0].sets">{{set.set}}</option>
            </select>
            
            <table id="price" class="text text4">
                <tr ng-class="{'avrg':$last, 'best':$first}" ng-repeat="price in card[0].prices">
                    <td>{{price.store}}</td>
                    <td>{{price.price}}</td>
                </tr>
            </table>
            <br />
            <div class="text text3">
                <div id="rarity" class="inline">{{card[0].rarity}}</div>
                <div id="cost">
                    <img ng-repeat="cost in card[0].costs" src="imgs/symbols/{{cost.img}}.png">
                    ({{card[0].converted}})
                </div>
            </div>
            <br />
            <br />
            
            <div id="type" class="text text3">
                {{card[0].type}}
            </div>
            
            <img src="imgs/us.png" id="lang" ng-if="text_us != null && lang == 'br'" ng-click="$parent.lang = 'us'" />
            <img src="imgs/br.png" id="lang" ng-if="text_br != null && lang == 'us'" ng-click="$parent.lang = 'br'" />
            
            <img src="imgs/alert.png" id="lang" ng-if="text_br == null && lang == 'us'" />
            
            <div id="text" class="text text4" ng-bind-html="text_br" ng-if="text_br != null && lang == 'br' && !big"></div>
            <div id="text" class="text text4" ng-bind-html="text_us" ng-if="text_us != null && lang == 'us' && !big"></div>
            
            <div class="info text text3" ng-if="card[0].power != null && !big">
                Poder: {{card[0].power}}
            </div>
            <div class="info text text3" ng-if="card[0].resist != null && !big">
                Resistência: {{card[0].resist}}
            </div>
            <div class="info text text3" ng-if="card[0].loyalty != null && !big">
                Lealdade: {{card[0].loyalty}}
            </div>

        </div>
        </div>
    </body>

</html>