<!doctype html>
<html ng-app="card">

    <head>

        <title>HobbyJoin</title>
        
        <script src="scripts/angular.min.js"></script>
        <script src="scripts/angular-touch.min.js"></script>
        <script src="scripts/ui-bootstrap.min.js"></script>
        
        <link href="styles/base.css" rel="stylesheet" type="text/css" />
        <link href="styles/font.css" rel="stylesheet" type="text/css" />
        
        <meta name="viewport" content="initial-scale=1.0, width=device-width" />
        <meta charset="utf-8">
        
        <script src="info/card.js"></script>

        <link href="styles/card.css" rel="stylesheet" type="text/css" />

</head>

    <body>
        
        <div id="header" class="light_blue" ng-controller="HomeCtrl">
            <img src="imgs/logo.png" id="logo" ng-click="goHome()">
            <img src="imgs/menu.png" id="menu">
        </div>
        <div class="line dark_blue"></div>
        
        <div ng-controller="CardCtrl">
        <div class="text text3 name" ng-if="card[0].name_br != null" >
            {{card[0].name_br}}<br />
            ({{card[0].name_us}})
        </div>
        <div class="text text3 name" ng-if="card[0].name_br == null">
            {{card[0].name_us}}
        </div>

        <div>
            <table id="top_table">
                <tr>
                    <td id="top_table_left">
                        <select disabled id="set" class="text text4" ng-if="card[0].sets.length == 1">
                            <option ng-repeat="set in card[0].sets" value="{{set.id}}" ng-if="lang == 'br'">{{set.set_br}}</option>
                            <option ng-repeat="set in card[0].sets" value="{{set.id}}" ng-if="lang == 'us'">{{set.set_us}}</option>
                        </select>

                        <select id="set" ng-model="$parent.selection" ng-init="$parent.selection = card[0].sets[0]" class="text text4 enabled" ng-if="card[0].sets.length > 1" ng-options="set.set_br for set in card[0].sets" ng-show="lang == 'br'">
                        </select>

                        <select id="set" ng-model="$parent.selection" ng-init="$parent.selection = card[0].sets[0]" class="text text4 enabled" ng-if="card[0].sets.length > 1" ng-options="set.set_us for set in card[0].sets" ng-show="lang == 'us'">
                        </select>
                        
                        <table id="price" class="text text4" ng-repeat="set in card[0].sets" ng-if="set.id == $parent.show">
                            <tr class="avrg" ng-if="set.avrg != null">
                                <td class="border">Preço Médio</td>
                                <td class="border">{{set.avrg}}</td>
                            </tr>
                            <tr ng-class="{'best':$first}" ng-repeat="price in set.prices" ng-click="goTo('{{price.link+price.link2}}')">
                                <td class="border">{{price.store}}</td>
                                <td class="border">{{price.price}}</td>
                            </tr>
                            <tr ng-if="set.prices == null">
                                <td class="border"><br /></td>
                            </tr>
                            <tr class="error" ng-if="set.prices == null">
                                <td>Carta não disponível</td>
                            </tr>
                            <tr class="error" ng-if="set.prices == null">
                                <td class="border">nas lojas cadastradas</td>
                            </tr>
                            <tr ng-if="set.prices == null">
                                <td class="border"><br /></td>
                            </tr>
                        </table>
                        <table id="price" class="text text4" ng-if="show_add" ng-init="colect={}">
                            <tr>
                                <td class="border" ng-click="collection()"><img src="imgs/add_collection.png" class="add" />Adicionar à coleção</td>
                            </tr>
                            <div class="text text3" id="add_collection" ng-show="add_now" ng-repeat="set in card[0].sets" ng-if="set.id == $parent.show">
                                Adicionar <input type="number" value="1" name="cards" class="text text4" id="add_num" ng-model="colect.n" ng-init="colect.n= 1"/> <span ng-if="card[0].name_br != null">{{card[0].name_br}}</span><span ng-if="card[0].name_br == null">{{card[0].name_us}}</span> de <span ng-if="set.set_br != null">{{set.set_br}}</span><span ng-if="set.set_br == null">{{set.set_us}}</span> à sua coleção.<br />
                                <div class="btn text text4 confirm" ng-click="confirm(set.id, colect.n)">Confirmar</div>
                                <div class="btn text text4 error" ng-click="cancel()">Cancelar</div>
                            </div>
                        </table>
                    </td>
                    <td id="top_table_right">
                        <div id="img" ng-class="{'big':big}" ng-repeat="set in card[0].sets" ng-if="set.id == $parent.show">
                            <div>
                                <img src="http://furlin.org/__hobbyon/imgs/cards/br/{{set.img.replace('Æ', 'ae')}}.jpg" ng-if="lang == 'br'" ng-class="{'big':big}" ng-click="bebig()" />
                                <img src="http://furlin.org/__hobbyon/imgs/cards/us/{{set.img.replace('Æ', 'ae')}}.jpg" ng-if="lang == 'us'" ng-class="{'big':big}" ng-click="bebig()" />
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
            <div class="text text3">
                <div id="rarity" class="inline" ng-repeat="set in card[0].sets" ng-if="set.id == $parent.show && lang == 'br'">{{set.rarity_br}}</div>
                <div id="rarity" class="inline" ng-repeat="set in card[0].sets" ng-if="set.id == $parent.show && lang == 'us'">{{set.rarity_us}}</div>
                <div id="cost">
                    <img ng-repeat="cost in card[0].cost" src="imgs/symbols/{{cost.img}}.png">
                    <span ng-if="card[0].conv != null">({{card[0].conv}})</span>
                </div>
            </div>
            <br />
            <br />

            <div id="type" class="text text3" ng-if="lang == 'br'">
                {{card[0].type_br}}
            </div>

            <div id="type" class="text text3" ng-if="lang == 'us'">
                {{card[0].type_us}}
            </div>

            <div id="flag">
                <img src="imgs/alert.png" id="alert" ng-if="text_br == null && text_us != null" ng-click="alert()" ng-show="!show_alert" />
                <div class="text text3 alert_box" id="add_collection" ng-show="show_alert">
                    Não possuímos o texto em português para essa carta em nosso banco de dados, o texto exibido em inglês é o texto oficial da carta.<br />
                    <div class="btn text text4" ng-click="alert()">Ok</div>
                </div>

                <img src="imgs/us.png" id="lang" ng-if="lang == 'br'" ng-click="$parent.lang = 'us'" />
                <img src="imgs/br.png" id="lang" ng-if="lang == 'us'" ng-click="$parent.lang = 'br'" />
            </div>
            <div id="text" class="text text4" ng-bind-html="text_br" ng-if="text_br != null && lang == 'br' && !big"></div>
            <div id="text" class="text text4" ng-bind-html="text_us" ng-if="(text_us != null && lang == 'us' && !big) || (text_us != null && text_br == null && !big)"></div>

            <div class="info text text3" ng-if="card[0].power != null && !big && lang == 'br'">
                Poder/Resistência: {{card[0].power}}/{{card[0].resist}}
            </div>
            <div class="info text text3" ng-if="card[0].power != null && !big && lang == 'us'">
                Power/Toughness: {{card[0].power}}/{{card[0].resist}}
            </div>

            <div class="info text text3" ng-if="card[0].loyalty != null && !big && lang == 'br'">
                Lealdade: {{card[0].loyalty}}
            </div>
            <div class="info text text3" ng-if="card[0].loyalty != null && !big && lang == 'us'">
                Loyalty: {{card[0].loyalty}}
            </div>
        </div>
        </div>
    </body>

</html>