<!doctype html>
<html ng-app="card">

    <head>

        <title>HobbyJoin</title>
        
        <script src="scripts/angular.min.js"></script>
        <script src="scripts/angular-touch.min.js"></script>
        <script src="scripts/ui-bootstrap.min.js"></script>
        
        <link href="styles/base.css" rel="stylesheet" type="text/css" />
        <link href="styles/font.css" rel="stylesheet" type="text/css" />
        
        <meta name="viewport" content="initial-scale=1.0, width=device-width" />
        <meta charset="utf-8">
        
        <script src="info/collection.js"></script>

        <link href="styles/collection.css" rel="stylesheet" type="text/css" />

    </head>

    <body>
        
        <div id="header" class="light_blue" ng-controller="HomeCtrl">
            <img src="imgs/logo.png" id="logo" ng-click="goHome()">
            <img src="imgs/menu.png" id="menu">
        </div>
        
        <div ng-controller="CollectionCtrl" class="text text4">
            
            <div class="line dark_blue"></div>
            
            <div class="info">
                <div class="bold" >{{deck.deck}}</div>
            </div>

            <div class="line light_blue" ng-show="deck.show"></div>
            
            <div id="deck">
                
                <div class="bold" ng-show="deck.show">TOTAL DA COLEÇÃO ({{deck.cards}} CARTAS)</div>
            
                <div class="block" ng-if="deck.land != 0" ng-show="deck.show">
                    <div class="cards" ng-repeat="card in deck.lands">
                        <div ng-click="card.show = !card.show" ng-if="card.name_br != null" class="card_name">
                            {{card.num}} {{card.name_br}}
                        </div>
                        <div ng-click="card.show = !card.show" ng-if="card.name_br == null" class="card_name">
                            {{card.num}} {{card.name_us}}
                        </div>
                        <div ng-if="card.show == true" class="card_info">
                            <img src="http://furlin.org/__hobbyon/imgs/cards/br/{{card.img}}.jpg" class="card_img" />
                            <table class="table" ng-if="card.min != null">
                                <tr>
                                    <td><div class="spacer"></div></td>
                                    <td><div class="spacer"></div></td>
                                </tr>
                                <tr class="mid">
                                    <td class="left">Preço Médio</td>
                                    <td class="right">{{card.avrg}}</td>
                                </tr>
                                <tr class="low">
                                    <td class="left">{{card.store}}</td>
                                    <td class="right">{{card.min}}</td>
                                </tr>
                            </table>
                            <table class="table" ng-if="card.min == null">
                                <tr>
                                    <td><div class="spacer"></div></td>
                                </tr>
                                <tr class="text4 error">
                                    <td>Carta não disponível</td>
                                </tr>
                                <tr class="text4 error">
                                    <td>nas lojas cadastradas</td>
                                </tr>
                            </table>
                            <form action="collection.html" method="get">
                                <input type="number" name="num" class="text text4" id="add_num" ng-model="card.num" />
                                <input type="hidden" name="id" value="{{card.id}}" />
                                <input type="hidden" name="set" value="{{card.set}}" />

                                <input type="submit" value="Alterar" class="text text4" />
                            </form>
                            <div class="ir" ng-click="goTo('card.html?id={{card.id}}');">Ver detalhes da carta.</div>
                        </div>
                    </div>
                    <div class="total bold">{{deck.land}} Terrenos</div>
                </div>
                
                <div class="block" ng-if="deck.creature != 0" ng-show="deck.show">
                    <div class="cards" ng-repeat="card in deck.creatures">
                        <div ng-click="card.show = !card.show" ng-if="card.name_br != null" class="card_name">
                            {{card.num}} {{card.name_br}}
                        </div>
                        <div ng-click="card.show = !card.show" ng-if="card.name_br == null" class="card_name">
                            {{card.num}} {{card.name_us}}
                        </div>
                        <div ng-if="card.show == true" class="card_info">
                            <div class="card_img">
                                <img src="http://furlin.org/__hobbyon/imgs/cards/br/{{card.img.replace('Æ', 'ae')}}.jpg" />
                            </div>
                            <table class="table" ng-if="card.min != null">
                                <tr>
                                    <td><div class="spacer"></div></td>
                                    <td><div class="spacer"></div></td>
                                </tr>
                                <tr class="mid">
                                    <td class="left">Preço Médio</td>
                                    <td class="right">{{card.avrg}}</td>
                                </tr>
                                <tr class="low">
                                    <td class="left">{{card.store}}</td>
                                    <td class="right">{{card.min}}</td>
                                </tr>
                            </table>
                            <table class="table" ng-if="card.min == null">
                                <tr>
                                    <td><div class="spacer"></div></td>
                                </tr>
                                <tr class="text4 error">
                                    <td>Carta não disponível</td>
                                </tr>
                                <tr class="text4 error">
                                    <td>nas lojas cadastradas</td>
                                </tr>
                            </table>
                            <form action="collection.html" method="get">
                                <input type="number" name="num" class="text text4" id="add_num" ng-model="card.num" />
                                <input type="hidden" name="id" value="{{card.id}}" />
                                <input type="hidden" name="set" value="{{card.set}}" />
                                <input type="submit" value="Alterar" class="text text4" />
                            </form>
                            <div class="ir" ng-click="goTo('card.html?id={{card.id}}');">Ver detalhes da carta.</div>
                        </div>
                    </div>
                    <div class="total bold">{{deck.creature}} Criaturas</div>
                </div>
            
                <div class="block" ng-if="deck.plane != 0" ng-show="deck.show">
                    <div class="cards" ng-repeat="card in deck.planes">
                        <div ng-click="card.show = !card.show" ng-if="card.name_br != null" class="card_name">
                            {{card.num}} {{card.name_br}}
                        </div>
                        <div ng-click="card.show = !card.show" ng-if="card.name_br == null" class="card_name">
                            {{card.num}} {{card.name_us}}
                        </div>
                        <div ng-if="card.show == true" class="card_info">
                            <img src="http://furlin.org/__hobbyon/imgs/cards/br/{{card.img}}.jpg" class="card_img" />
                            <table class="table" ng-if="card.min != null">
                                <tr>
                                    <td><div class="spacer"></div></td>
                                    <td><div class="spacer"></div></td>
                                </tr>
                                <tr class="mid">
                                    <td class="left">Preço Médio</td>
                                    <td class="right">{{card.avrg}}</td>
                                </tr>
                                <tr class="low">
                                    <td class="left">{{card.store}}</td>
                                    <td class="right">{{card.min}}</td>
                                </tr>
                            </table>
                            <table class="table" ng-if="card.min == null">
                                <tr>
                                    <td><div class="spacer"></div></td>
                                </tr>
                                <tr class="text4 error">
                                    <td>Carta não disponível</td>
                                </tr>
                                <tr class="text4 error">
                                    <td>nas lojas cadastradas</td>
                                </tr>
                            </table>
                            <form action="collection.html" method="get">
                                <input type="number" name="num" class="text text4" id="add_num" ng-model="card.num" />
                                <input type="hidden" name="id" value="{{card.id}}" />
                                <input type="hidden" name="set" value="{{card.set}}" />

                                <input type="submit" value="Alterar" class="text text4" />
                            </form>
                            <div class="ir" ng-click="goTo('card.html?id={{card.id}}');">Ver detalhes da carta.</div>
                        </div>
                    </div>
                    <div class="total bold">{{deck.plane}} Planinaltas</div>
                </div>
            
                <div class="block" ng-if="deck.other != 0" ng-show="deck.show">
                    <div class="cards" ng-repeat="card in deck.others">
                        <div ng-click="card.show = !card.show" ng-if="card.name_br != null" class="card_name">
                            {{card.num}} {{card.name_br}} ({{card.code}})
                        </div>
                        <div ng-click="card.show = !card.show" ng-if="card.name_br == null" class="card_name">
                            {{card.num}} {{card.name_us}} ({{card.code}})
                        </div>
                        <div ng-if="card.show == true" class="card_info">
                            <img src="http://furlin.org/__hobbyon/imgs/cards/br/{{card.img}}.jpg" class="card_img" />
                            <table class="table" ng-if="card.min != null">
                                <tr>
                                    <td><div class="spacer"></div></td>
                                    <td><div class="spacer"></div></td>
                                </tr>
                                <tr class="mid">
                                    <td class="left">Preço Médio</td>
                                    <td class="right">{{card.avrg}}</td>
                                </tr>
                                <tr class="low">
                                    <td class="left">{{card.store}}</td>
                                    <td class="right">{{card.min}}</td>
                                </tr>
                            </table>
                            <table class="table" ng-if="card.min == null">
                                <tr>
                                    <td><div class="spacer"></div></td>
                                </tr>
                                <tr class="text4 error">
                                    <td>Carta não disponível</td>
                                </tr>
                                <tr class="text4 error">
                                    <td>nas lojas cadastradas</td>
                                </tr>
                            </table>
                            <form action="collection.html" method="get">
                                <input type="number" name="num" class="text text4" id="add_num" ng-model="card.num" />
                                <input type="hidden" name="id" value="{{card.id}}" />
                                <input type="hidden" name="set" value="{{card.set}}" />

                                <input type="submit" value="Alterar" class="text text4" />
                            </form>
                            <div class="ir" ng-click="goTo('card.html?id={{card.id}}');">Ver detalhes da carta.</div>
                        </div>
                    </div>
                    <div class="total bold">{{deck.other}} Mágicas</div>
                </div>
                
                <div class="block side" ng-if="deck.side != 0" ng-show="deck.show">
                    <div class="bold sidet">Sideboard</div>
                    <div class="cards" ng-repeat="card in deck.sides">
                        <div ng-click="card.show = !card.show" ng-if="card.name_br != null" class="card_name">
                            {{card.num}} {{card.name_br}}
                        </div>
                        <div ng-click="card.show = !card.show" ng-if="card.name_br == null" class="card_name">
                            {{card.num}} {{card.name_us}}
                        </div>
                        <div ng-if="card.show == true" class="card_info">
                            <img src="http://furlin.org/__hobbyon/imgs/cards/br/{{card.img}}.jpg" class="card_img" />
                            <table class="table" ng-if="card.min != null">
                                <tr>
                                    <td><div class="spacer"></div></td>
                                    <td><div class="spacer"></div></td>
                                </tr>
                                <tr class="mid">
                                    <td class="left">Preço Médio</td>
                                    <td class="right">{{card.avrg}}</td>
                                </tr>
                                <tr class="low">
                                    <td class="left">{{card.store}}</td>
                                    <td class="right">{{card.min}}</td>
                                </tr>
                            </table>
                            <table class="table" ng-if="card.min == null">
                                <tr>
                                    <td><div class="spacer"></div></td>
                                </tr>
                                <tr class="text4 error">
                                    <td>Carta não disponível</td>
                                </tr>
                                <tr class="text4 error">
                                    <td>nas lojas cadastradas</td>
                                </tr>
                            </table>
                            <form action="collection.html" method="get">
                                <input type="number" name="num" class="text text4" id="add_num" ng-model="card.num" />
                                <input type="hidden" name="id" value="{{card.id}}" />
                                <input type="hidden" name="set" value="{{card.set}}" />

                                <input type="submit" value="Alterar" class="text text4" />
                            </form>
                            <div class="ir" ng-click="goTo('card.html?id={{card.id}}');">Ver detalhes da carta.</div>
                        </div>
                    </div>
                    <div class="total bold">{{deck.side}} Cartas no sideboard</div>
                </div>
                
            </div>
            
            <div class="div_input text text3 msg" ng-show="err == true">
                Não foi possível conectar ao servidor, verifique sua conexão com a internet.
            </div>
            
            <div class="div_input" ng-show="err == true">
                <div class="text text3 login" ng-click="refr()">Tentar Novamente</div>
            </div>    
        </div>
        
    </body>

</html>