.name {
    width: 100%;
    text-align: center;
    padding-top: 10px;
}

#set {
    margin: 10px 0 0 5px;
    width: 95%;
    border: 1px solid #000;
    border-radius: 4px;
    padding: 3px 0;
    color: #000;
    -webkit-appearance: none;
}

#add_collection {
    border: 1px solid #999;
    border-radius: 4px;
    background-color: #eee;
    position: absolute;
    width: 90%;
    padding: 4%;
}

.alert_box {
    right: 0;
}

#add_num {
    width: 20px;
}

.enabled {
    background: url(../imgs/down.png) no-repeat right #fff;
    background-size: contain;
}

#lang {
    float: right;
    width: 30px;
    margin: 5px;
}

#flag {
    width: 40px;
    float: right;
}

#alert {
    float: right;
    width: 26px;
    margin: 7px;
}

#price {
    width: 95%;
    margin: 5px 0 0 5px;
    padding: 0;
    border-collapse:collapse;
}

#price td {
    padding: 5px 0;
}

.border {
    border-bottom: 1px solid #000;
}

.best {
    border-top: 1px solid #000;
    background-color: #afa;
}

.btn {
    border: 1px solid #999;
    border-radius: 4px;
    width: 44%;
    padding: 2%;
    display: inline-block;
    text-align: center;
    margin-top: 2%;
}

.confirm {
    background-color: #afa;
}

.avrg {
    background-color: #ff9;
}

.error {
    background-color: #fc9;
}

#top_table {
    width: 100%;
    padding: 0;
    border-collapse:collapse;
    position: relative;
}

#top_table_left {
    width: 60%;
}

#top_table_right {
    width: 40%;
}

#img {
    margin: 10px 1.5% 0 0;
    width: 100%;
}

#img img {
    width: 100%;
    max-width: 100%;
}

#img div {
    min-width: 120px;
    min-height: 168px;
    background: url(../imgs/loader.png) no-repeat;
    background-size: contain;
}

.loader {
    position: absolute;
    top: 0;
    right: 0;
    width: 40%;
}

#img img.big {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
}

#rarity {
    margin-left: 7px;
    float: left;
}

.add {
    vertical-align: middle;
    margin-right: 5px;
    height: 20px;
    margin-top: -2px;
}

.inline {
    display: inline-block;
}

#cost {
    margin-left: 5%;
    float: left;
    display: inline-block;
}

#type {
    margin: 7px;
    margin-top: 0px;
}

.info {
    margin: 7px;
    margin-top: 10px;
}

#text {
    margin: 7px;
    margin-top: 10px;
    margin-right: 40px;
    text-align: justify;
}

#cost img {
    height: 24px;
    vertical-align: bottom;
    margin: 0 3px;
}

.text_img {
    height: 16px;
    margin: 0 2px;
    vertical-align: bottom;
}

@media (min-width:640px) {
    #img div {
        min-width: 247px;
        min-height: 345px;
    }
    #lang {
        width: 60px;
        margin: 10px;
    }
    #flag {
        width: 80px;
    }
    #alert {
        width: 48px;
        margin: 16px;
    }
    #text {
        margin: 10px;
        margin-top: 20px;
        margin-right: 80px;
    }
    .info {
        margin: 10px;
        margin-top: 20px;
    }
    #type {
        margin-left: 10px;
        margin-top: 30px;
    }
    .name {
        margin-bottom: 8px;
    }
    #set {
        margin: 10px 0 0 10px;
        border-radius: 8px;
        padding: 8px 0;
    }
    #price td {
        padding: 10px 0;
    }
    #price {
        margin-left: 10px;
    }
    #img {
        margin-right: 10px;
    }
    #cost img {
        height: 48px;
        margin: 0 5px;
    }
    .text_img {
        height: 32px;
        margin: 0 4px;        
    }
    .add {
        margin-right: 7px;
        height: 32px;
        margin-top: -5px;
    }
    #add_collection {
        border-radius: 8px;
    }
    #add_num {
        width: 40px;
    }
}
@media (min-width:480px)  and (max-width:639px){
    #img div {
        min-width: 183px;
        min-height: 256px;
    }
    #lang {
        width: 46px;
        margin: 7px;
    }
    #flag {
        width: 60px;
    }
    #alert {
        width: 36px;
        margin: 12px;
    }
    .info {
        margin-top: 15px;
    }
    #text {
        margin-top: 15px;
        margin-right: 60px;
    }
    #type {
        margin-top: 15px;
    }
    .name {
        margin-bottom: 5px;
    }
    #set {
        margin: 10px 0 0 7px;
        border-radius: 6px;
        padding: 5px 0;
    }
    #price td {
        padding: 7px 0;
    }
    #price {
        margin-left: 7px;
    }
    #img {
        margin-right: 7px;
    }
    #cost img, .text_img {
        height: 32px;
        margin: 0 4px;
    }
    .text_img {
        height: 24px;
        margin: 0 3px;        
    }
    .add {
        margin-right: 7px;
        height: 24px;
        margin-top: -2px;
    }
    #add_collection {
        border-radius: 6px;
    }
    #add_num {
        width: 30px;
    }
}