@font-face{
    font-family: "MyriadPro"; 
    src: url('font/MyriadPro.otf') format('opentype');
}

.text {
    font-family: "MyriadPro";
}

.text2 {
    font-size: 32px;
}

.line2 {
    line-height: 32px;
}

@media (min-width:640px) {
    .text2 {
        font-size: 64px;
    }
    .line2 {
        line-height: 64px;
    }
}

@media (min-width:480px) and (max-width:639px) {
    .text2 {
        font-size: 48px;
    }
    .line2 {
        line-height: 48px;
    }
}